h1{
    text-align: center;
}

body{
    background: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: 80%;
    background-position: 150px -15%;
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
}


.flex-container{
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    justify-content: space-between;
    top: 15%;
    right: 35%;
}

.flex-item{
    height: 150px;
    width: 150px;
    perspective: 1000px;
}

.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}

.front, .back{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: solid #583c0c;
}

.front{
    background-color: bisque;
    color: #845b2c;
    z-index: 2;
    backface-visibility: hidden;
}

.back{
    background-color: #845b2c;
    color: bisque;
    z-index: 1;
    transform: rotateY(180deg);
}

.flex-item:hover .card{
    transform: rotateY(180deg);
}
