body {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png") ;
    background-color: #e5ecfa;
    background-size: cover;
}

.flex-container {
    height: 550px;
    width: 550px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    margin: auto;
}

.flex-item {
    background: #eccab6;
    padding: 5px;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    line-height: 50px;
    color: rgba(232, 110, 58, 0.92);
    text-align: center;
    border-radius: 10%;
    font-family: Consolas;
    font-size: 20px;
    font-weight: bold;
}

h1{
    text-align: center;
    color: rgba(232, 110, 58, 0.92);
    font-family: Consolas;
    margin-bottom: 60px;
}